*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter";
}
//хедер
.wrap {
    max-width: 80%;
    margin: 0 auto;
}
.header-block-one-bg {
    background: #4cb2cb;
}
.header-block-one{
    color: #97e6f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    a {
        color: #97e6f4;
    }
    .header-block-one-left, .header-block-one-right{
        display: flex;
        
    }
    .header-block-one-left{
        .header-block-one-left-language{
            margin-right: 10px;
        }
        span {
            margin-right: 10px;
        }
        select{
            background: #4cb2cb;
            border: none;
            color: #d4ffff;
        }
    }
    .header-block-one-right{
        :nth-child(n) {
            margin-left: 5px;
            margin-right: 5px;
        }
        :last-child{
            margin-right: 0;
        }
    }
   
}
.shopping {
    width: 25px;
    height: 25px;
    background: #79ae2e;
    border-radius: 50%;
    padding: 5px;
    align-items: stretch;
    border: none;
}
.shopping-cart{
    display:flex;
    align-items: center;
}

.header-block-two {
    display:flex;
    justify-content: space-between;
    color: #636363;
    .header-block-two-left{
        display: flex;
        align-items: center;
        :nth-child(n){
            margin-right: 10px;
            font-weight: bold;
            color: #636363;
        }
    }
    .header-block-two-right{
        display: flex;
        align-items: center;
        .shopping{
            margin-left: 10px;
        }
        .card {
            margin-left: 10px;
            font-weight: bold;
        }
    }
}
// a {
//     &:hover{
//         color:  #CED2DA;
//         font-weight: bold;
//         transition: 0.5s;
//     }
// }