body {
	background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.App {
  text-align: center;
}

.textValue {
  width: 250px;
}
.comlete {
  text-decoration:line-through;

}
.blockTasks {
  display: flex;
  width: 50%;
}
.blocTask {
  width: 700px;
  display: flex;
  align-items: center
}

.list{
  text-align: left;
}

.task {
  width: 70%;
  overflow-x: auto;

}

.botton {
  margin-left: 15px;
}

